{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h1 class="display-4">{{book['title'].values[0]}}</h1>
        <img src="{{book['large_image_url'].values[0]}}" width="240" height="320">
        <p>
          Authors: {{book['authors'].values[0]}} <br>
          Published in: {{book['original_publication_year'].values[0]|int}} <br>
          Average Goodreads Rating: {{book['average_rating'].values[0]}} <br>
          {% if book['given_rating'].values[0] > 0 %}
            Your Rating: {{book['given_rating'].values[0]}}
          {% endif %}
        </p>
        <form method="POST">
          {{form.hidden_tag()}}
          {% for subfield in form.rating %}
              <tr>
                  <td>{{ subfield }}</td>
                  <td>{{ subfield.label }}</td>
              </tr>
          {% endfor %}
          {{form.submit(class="btn btn-primary")}}
        </form>

        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="https://www.goodreads.com/book/show/{{book['best_book_id'].values[0]}}" role="button">Goodreads Link</a>
    </div>

{% endblock %}
