{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
      <h3>Here are our recommendations:</h3>
      <div class="row container">
        {% for _, book in recc_books.iterrows() %}
          <div class="card .col-sm m-1 border border-dark" style="width: 12rem">
            <img src="{{book['medium_image_url']}}" height="150" class="m-1 border border-info rounded">
            <div class="card-body">
                <h6 class="card-title">
                  <a href="{{url_for('core.book', book_id_new=book['book_id_new'])}}">{{book['title']}}</a>
                </h6>

                <div class="card-text">
                  Average Rating: {{book['average_rating']}} <br>
                  Predicted rating: {{book['predicted_rating'][0]}}
                </div>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
