{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
      {% if rated_books|length == 0 %}
        <h1 class="display-4">Looks like you've not rated any books. Please rate at least 5 books to get recommendations.</h1>
      {% elif rated_books|length < 5 %}
        <button type="button" class="btn btn-outline-primary" disabled>Get recommendations</button>
        <small>Rate at least {{5 - rated_books|length}} more to enable this</small>
      {% else %}
        <a class="btn btn-outline-primary" href="{{url_for('core.recommendations')}}" role="button">Get recommendations</a>
      {% endif %}
      <div class="row container">
        {% for _, book in rated_books.iterrows() %}
        <div class="card .col-sm m-1 border border-dark" style="width: 12rem">
          <img src="{{book['medium_image_url']}}" height="150" class="m-1 border border-info rounded">
          <div class="card-body">
              <h6 class="card-title">
                <a href="{{url_for('core.book', book_id_new=book['book_id_new'])}}">{{book['title']}}</a>
              </h6>

              <div class="card-text">
                Your Rating: {{book['given_rating']}}
              </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
